{% extends "layout.html" %}

{% block title %}
  <title>StateWatch - A simple tool for tracking state legislation</title>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 text-center">
        <h1 class="display-1">Welcome to StateWatch</h1>
        <h2 class="display-5">A simple tool for keeping track of State Legislation!</h2>
      </div>
    </div>
    <div class="row invisible">
        <h1>John Cena</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col align-content-end text-center">
              <p class="lead" style="font-size: 1.8em;">Curious how it works?</p>
              <button type="button" class="btn btn-outline-dark btn-lg">Get Started</button>
        </div>
      </div>
  </div>
  <div class="container-fluid">

  </div>
{% endblock %}