{% extends 'layout.html' %}

{% block title %}
    <title>Statewatch - {{ state.abbreviation }} {{ code }}</title>
{% endblock title %}

{% block body %}
  <div class="container-fluid">
    <div class="row justify-content-center text-center">
      <h1 class="display-1">{{ state.state }} {{ code }}</h1>
      <form method="POST" action="{% url 'tracker:bill_page' state code %}">
        <p class="lead" style="font-size: 1.8em;">
          Last action: {{ bill.date }}
          {% if saved %}
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-dark" name="unsave" value="Stop Tracking">
          {% else %}
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-dark" name="save" value="Track">
          {% endif %}
        </p>
      </form>
      <h1 class="invisible">John Cena</h1>
    </div>

    

    <!-- Table that holds info pulled from db -->
    <div class="container-fluid col-xl-10 col-lg-8 col-md-8 col-sm-10 col-xs-12">
      <table class="table table-responsive table-bordered border-dark table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">Short Name:</th>
            <th scope="col">Primary Sponsor:</th>
            <th scope="col">Link to Bill Page:</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>{{ bill.name }}</td>
            <td>{{ bill.sponsor }}</td>
            <td><a href="{{ bill.text }}">See more on {{ state.state }}'s website</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
{% endblock body %}