{% extends 'layout.html' %}

{% block title %}
  <title>Statewatch - Create Account</title>
{% endblock title %}

{% block body %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <h1 class="display-1 text-center">
        Create an Account
      </h1>
      <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-xs-12 text-center">
        
        <form action="#" method="POST">
          {% csrf_token %}
          <div class="row text-start">
            {{ form.as_p }}
          </div>
          <input type="submit" class="btn btn-lg btn-dark" value="Create Account">
        </form>
      </div>
    </div>
  </div>
{% endblock body %}